.main-cont {
    background-color: #1c1e2f;
}

.dark-card {
    background-color: #222437 !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 2px 0 #181a27;
}
.dark-card-header {
    color: white;
    background-color: transparent !important;
    border: none !important;
}
.dark-card-header h1 {
    color: white;
    letter-spacing: 3px;
    margin-bottom: 0px;
}
