.dark-nav {
   background-color:  #222437;
   color: #fff;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.dark-nav-toggler {
    border-color: transparent !important;
}

.dark-nav-toggler:focus {
    outline: 0px;
}
